#### Employee Retention prediction

In [30]:
# Import
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [5]:
# Read csv file
df = pd.read_csv('./employee_retention.csv')
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [6]:
inputs_df = df.drop('left',axis='columns')
target_df = df['left']

In [9]:
inputs_df

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,0,sales,low
1,0.80,0.86,5,262,6,0,0,sales,medium
2,0.11,0.88,7,272,4,0,0,sales,medium
3,0.72,0.87,5,223,5,0,0,sales,low
4,0.37,0.52,2,159,3,0,0,sales,low
...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,0,support,low
14995,0.37,0.48,2,160,3,0,0,support,low
14996,0.37,0.53,2,143,3,0,0,support,low
14997,0.11,0.96,6,280,4,0,0,support,low
14998,0.37,0.52,2,158,3,0,0,support,low

In [10]:
# Label Encoding
from sklearn.preprocessing import LabelEncoder

In [11]:
# Converting Department Salary to labels
le_Department = LabelEncoder()
le_salary = LabelEncoder()

In [12]:
inputs_df['Department_n'] = le_Department.fit_transform(inputs_df['Department'])
inputs_df['salary_n'] = le_salary.fit_transform(inputs_df['salary'])

In [13]:
inputs_df

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Department,salary,Department_n,salary_n
0,0.38,0.53,2,157,3,0,0,sales,low,7,1
1,0.80,0.86,5,262,6,0,0,sales,medium,7,2
2,0.11,0.88,7,272,4,0,0,sales,medium,7,2
3,0.72,0.87,5,223,5,0,0,sales,low,7,1
4,0.37,0.52,2,159,3,0,0,sales,low,7,1
...,...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,0,support,low,8,1
14995,0.37,0.48,2,160,3,0,0,support,low,8,1
14996,0.37,0.53,2,143,3,0,0,support,low,8,1
14997,0.11,0.96,6,280,4,0,0,support,low,8,1
14998,0.37,0.52,2,158,3,0,0,support,low,8,1

In [25]:
code_le = pd.DataFrame()
code_le['Department'] = inputs_df['Department']
code_le['Department_n'] = inputs_df['Department_n']
code_le['salary'] = inputs_df['salary']
code_le['salary_n'] = inputs_df['salary_n']
code_le

      Department  Department_n  salary  salary_n
0          sales             7     low         1
1          sales             7  medium         2
2          sales             7  medium         2
3          sales             7     low         1
4          sales             7     low         1
...          ...           ...     ...       ...
14994    support             8     low         1
14995    support             8     low         1
14996    support             8     low         1
14997    support             8     low         1
14998    support             8     low         1

[14999 rows x 4 columns]

In [26]:
# Storing codes
code_le.to_csv('codes.csv')

In [28]:
X_df = inputs_df.drop(['Department','salary'],axis='columns')
X_df

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Department_n,salary_n
0,0.38,0.53,2,157,3,0,0,7,1
1,0.80,0.86,5,262,6,0,0,7,2
2,0.11,0.88,7,272,4,0,0,7,2
3,0.72,0.87,5,223,5,0,0,7,1
4,0.37,0.52,2,159,3,0,0,7,1
...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,0,8,1
14995,0.37,0.48,2,160,3,0,0,8,1
14996,0.37,0.53,2,143,3,0,0,8,1
14997,0.11,0.96,6,280,4,0,0,8,1
14998,0.37,0.52,2,158,3,0,0,8,1

In [31]:
# Train Test Divide
X_train, X_test, y_train, y_test= train_test_split(X_df,target_df,test_size=0.2)

In [35]:
len(X_train)
# train length = 11999 test length = 3000

11999

In [37]:
#Train the model
model = LogisticRegression(solver='lbfgs', max_iter=400) # default max iter is 100 
# in this case it gave lbfgs warning 
model.fit(X_train,y_train)

LogisticRegression(max_iter=400)

In [39]:
# Checking Accuracy
model.score(X_test,y_test)
# 78.1% 😑

0.781

In [40]:
model.predict(X_test)

array([1, 0, 0, ..., 0, 0, 0], dtype=int64)